.alert-success {
    background-color: green
}

.alert-warning {
    background-color: yellow;
}

.alert-danger {
    background-color: red;
}

.alert-info {
    background-color: teal;
}
ul {
    /* list-style-type: none;   */
    /* margin: 0;
    padding: 0; */
    background-color: rgb(238, 171, 171);
}

li {
    float: left;
    font-size: 16pt;
}

/* li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    color: orangered;
} */

/* ul li a {
    text-transform: uppercase;
    text-decoration: solid;
} */

nav li a:hover {
    background-color: rgb(237, 255, 138);
}


input {
    border-radius: 10%;
}

body {
    font-family: helvetica, arial, sans-serif;
    margin: 1em;
    background-color: slategray;
}

table {
    width: 100%;
}

th {
    height: 70px;
}

table,
th,
td {
    border: 1px solid;
}

th,
td {
    border-bottom: 1px solid;
}

tr:nth-child(odd) {
    background-color: #a4eee4;
    color: rgb(12, 0, 0);
}

tr:nth-child(even) {
    background-color: #f2f2f2;
    color: rgb(12, 0, 0);
}

/* th {
    background-color: #04AA6D;
    color: rgb(12, 0, 0);
} */

input {
    font-size: 20pt;
}

input:focus,
textarea:focus {
    background-color: rgb(25, 65, 110);
}

input submit {
    font-size: 12pt;
    display: table-cell;
}

.rq {
    color: #FF0000;
    font-size: 10pt;
}

.col {
    height: 50px;
    width: 50px;
    display: inline;
    padding: 10px;
}

.col a {
    text-transform: uppercase;
    color: rgb(236, 37, 37);
    text-decoration: none;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px;
}

.button {
    background-color: #084d64;
}

.button:hover {
    background-color: yellow;
}

.button2 {
    background-color: #1f5555;
}

.button2:hover {
    background-color: yellow;
}

.button3 {
    background-color: #741e18;
}

.button3:hover {
    background-color: yellow;
}

.button4 {
    background-color: #3f460591;
}

.button4:hover {
    background-color: yellow;
}

.button5 {
    background-color: #38103b;
}

.button5:hover {
    background-color: yellow;
}

.button6 {
    background-color: #0d7e13b4;
}

.button6:hover {
    background-color: yellow;
}

d{
    display: inline;
    float: left;
}
/* .mb-3 form-group col-md-3 {
    position: inherit;
  }
  .pagination {
    display:inline-flexbox;
    justify-content: center;
  }
  
  .pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 5px;
  }
  .pagination a:hover:not(.active) {background-color: #ddd;} */
